**/bin
**/obj
**/Output/**
*.poly
**/.vs
*.lnk
*.sln
**/__pycache__
**/.vscode
**/Pictures/**/*.*
**/_minted-main
*.aux
*.zip
**/Docs/**/*.log
**/Docs/**/*.toc
**/Docs/**/*.pdf
**/Docs/**/*.gz
**/Docs/**/*.out
**/Docs/"LaTeX отчет"